#bottom, #top {
    border: 2px solid lightgray;
    width: 450px;
}

#top {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
}

#turn-and-roll-container {
    text-align: end;
}

#turn-container {
    text-align: left;
    max-width: 100px;
}

#roll-button {
    font-size: 1.2em;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.dice img {
    width: 100%;
    height: auto;
}

input {
    display: inline-block;
    width: 40px;
}

label {
    float: left;
    width: 150px;
}

.hold {
    background-color: green;
}

#sumLblId, #bonusLblId, #totalLblId {
    float: right;
    width: 0px;
}

#sumInputId, #bonusInputId, #totalInputId {
    float: right;
}

#sumLblId {
    position: relative;
    left: -210px;
}

#sumInputId {
    position: relative;
    left: -120px;
}

#bonusLblId {
    position: relative;
    left: -60px;
}

#bonusInputId {
    position: relative;
    left: 40px;
}

#totalLblId {
    position: relative;
    left: -100px;
}

#totalInputId {
    position: relative;
    left: -6px;
}